@charset "UTF-8";
/* CSS Document */

body {
    background-color: rgb(37, 37, 37);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-width: 470px;
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%; 
    height: 50px; 
    position: relative;
    z-index: 85;
    background-color: rgb(43, 43, 43);
}
.navicon {
    width: 25px;
    height: 25px;
    left: 10px;
    top: 50%;
    transform: translate(-0%, -50%);
    position: relative;
}
.navtitle {
    font-size: 16px;
    left: 50px;
    top: -23px;
    position: relative;
}

@keyframes slideInOLD {
    from{right: -50%;  position: absolute; opacity: 0; transition: 0.5s;}
    to{right: 0; position: absolute;  opacity: 1;}
}
@keyframes slideOutOLD {
    from{right: 0; position: absolute;  opacity: 1; transition: 0.5s;}
    to{right: 50%;  position: absolute; opacity: 0; transition: 0.5s;}

}

@keyframes slideIn {
    from{opacity: 0; position: absolute; transition: 0.5s; transform: scale(1.5);  width: 100%;}
    to{opacity: 1; position: absolute; transform: scale(1);  width: 100%;}
}
@keyframes slideOut {
    from{opacity: 1; transition: 0.5s; position: absolute; transform: scale(1);  width: 100%;}
    to{opacity: 0; transition: 0.5s; position: absolute; transform: scale(1.5);  width: 100%;}

}



/* Banner */

.Banner {
    
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 15px;
   background-size: cover;
   object-fit: cover;
   max-width: 100%;
   max-height: 100%;
}


.BannerFULL {
    float: left;
    
    width: 15%;
    height: 15%;
    position: relative;
    border-radius: 15px;
    left: 0;
    min-width: 150px;
   object-fit: cover;
   max-width: 100%;
   max-height: 100%;
}

.itemBanner {
  
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
    margin-left: 25px;
    margin-right: 15px;
    flex: 0 0 auto; /* Allow the items to be flexible */

    float: left;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    width: 35%;
    height: 100%;
    position: relative;
    background-color: rgba(76, 76, 76, 0.249);
}


.ALBUMB2 {
  
      left: 10px;
      margin-bottom: 20px;
      transition: 0.5s;
      border-radius: 10px;
      width: 90%;
      position: relative;
  }
  

.itemBanner:hover {
    z-index: 5;
    transform: scale(1.05);

}

.BannerTXT {
    position: relative;
    top: 10px;
    font-size: 25px;
    
}
.BannerTXTLight {
    position: relative;
    top: 10px;
    font-size: 25px;
    text-shadow: 0px 0px 6px #000000;

}
.BannerTXTF {
    position: relative;
    top: 10px;
    
    font-size: 35px;
    
}

.artistBanner {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.612);
    position: relative;
    bottom: 5px;
    
}
.artistBannerLight {
    font-size: 15px;
    color: rgb(254, 254, 254);
    position: relative;
    bottom: 5px;
    text-shadow: 0px 0px 5px #000000;

}
.artistPGF {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.612);
    position: relative;
    bottom: 5px;
    left: 3px;
    
}

.BannerPanel {
    position: absolute; 
    bottom: 5px;
    left: 15px;
    
    border-radius: 15px;
}

.BannerPanelLight {
    position: absolute; 
    bottom: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.812);
    padding-left: 20px;
    padding-right: 20px;
    transform: scale(0.9);
    border-radius: 15px;
}

.BannerPanelF {
    position: relative; 
    width: 50%;
    margin-left: 10px;
    top: -10px;
    float: left;
    
}

.Albumcover {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.albumPGC {

  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
    margin-left: 25px;
    float: left;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    
    position: relative;
}


.albumMenu {
    position: relative;
    width: 100%;
}

.MenuSections {
    font-size: 23px;
    width: fit-content;
    position: relative;
    left: 10px;
}

@keyframes slideOutQueue {
    from{right: 0px;  opacity: 1;}
    to{right: -30%;   opacity: 0;}

}
@keyframes slideInQueue {
    from{right: -30%;   opacity: 0;}

    to{right: 20px;  opacity: 1;}

}


.queueUI {
    position: absolute;
    overflow-y: auto;
    right: 20px;
    width: 350px;
    transition: 0.5s;
    height: 75%;
    border-radius: 15px;
    border: solid 4px rgb(105, 105, 105);
    top: 50%;
    transform: translate(-0%, -50%);
    z-index: 100;
    background-color: rgb(36, 36, 36);
}

.homeOP {
    height: 55px;
    width: 45%;
    font-size: 18px;
    left: 50%;
    color: white;
    background-color: rgb(53, 53, 53);
    border: solid 3px rgb(90, 90, 90);
    border-radius: 15px;
    position: relative;
    transform: translate(-50%, -0%);
    cursor: pointer;
    transition: 0.5s;
}
.homeOP:hover {
    width: 50%;
    border-radius: 25px;
}

.browseTBOX {
    width: 70%;
    border-radius: 15px;
    background-color: rgb(41, 41, 41);
    color: white;
    transition: 0.5s;
    border: solid 2px grey;
    height: 45px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
}
.browseTBOX:focus {
    outline: none;
    width: 80%;
    height: 50px;
}

.SONGSCROLLER {
    z-index: 2;
}

#EQMenu {
    position: fixed;
    top: 50%;
    right: 25px;
    width: 300px;
    height: 80%;
    z-index: 75;
    border-radius: 15px;
    border: solid 3px rgb(109, 109, 109);
    transform: translate(-0%, -50%);
    background-color: rgb(49, 49, 49);
    overflow-y: auto;
    transition: 0.5s;

}

@keyframes EQMENUIN {
    from{
        top: 50%;
        opacity: 0;
        right: -25%;
        width: 300px;
        height: 80%;
    }
    to{
        top: 50%;
        opacity: 1;
        right: 25px;
        width: 300px;
        height: 80%;
    }
}

@keyframes EQMENUOUT {
    from{
        top: 50%;
        opacity: 1;
        right: 25px;
        width: 300px;
        height: 80%;
    }
    to{
        top: 50%;
        opacity: 0;
        right: -25%;
        width: 300px;
        height: 80%;
    }
   
}




.slider-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    top: 50%;
    align-items: center;
    gap: 20px; /* Adjust the gap between sliders as needed */
}
.slider-container div {
    text-align: center;
}
/* Style the sliders to be vertical */
.slider-container input[type="range"] {
    right: 25px;
    position: absolute;
    
}

.SLIDERE {
-webkit-appearance: none;

  height: 7px;
  background: #525252;
  outline: none;
  border-radius: 15px;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.SLIDERE::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    border-radius: 50%;
    height: 20px;
    background: #737373;
    cursor: pointer;
  }
  



.LABELFOREQ {
    left: -55px;
    position: relative;
}


.visualizer {
    display: flex;
    width: 50px;
    height: 60px;
    background-color: #222;
    overflow: hidden;
}

.bar {
    flex: 1;
    height: 60px;
    margin: 0 1px;
    border-radius: 15px;
    background-color: #3498db;
    transform-origin: bottom;
}

.gradimg {
    width: 50px;
    height: 50px;
    z-index: -9;
    display: none;
}

.videocontainerhead {
    position: absolute; top: 0px; width: 100%; height: 50%; background-color: #00000000; min-height: 290px; max-height: 320px;

}
.headvideo {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    opacity: 0.7;
}